*{
    font-family: monaco, cursive;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    /* color: #00FF0A; */
}
body{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: black; */
}

/* header img */
#header-img{
    width: 100%;
    height: auto;
    opacity: .5;
    background-color: #B1C3FF;
}

/* nav bar */
nav{
    display: flex;
    justify-content: center;
}
ul{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
li{
    font-size: 2vw;
}
a{
    text-decoration: none;
}

/* header */
header{
    height: 100vh;
    width: 100%;
    position: relative;
}

/* header text */
.words{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 5vh;
    font-size: 3.0vw;
}
.center2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-top: 5vh;
}

/* about section */
article{
   height: 50vh;
   width: 100%;
   text-align: center;
   position: static;
   /* background-color: grey;  */
}
